body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 100px;
}
.container{
  text-align: center;
  margin-left: 30%;
  height: 150px;
  width: 200px;
}
.btn-default{
  height: auto;
  width: auto;
}
.items, li{
  text-decoration: none;
}
